@model BirdWatchersWorld.Models.BirdDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BirdDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirdID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirdID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondColor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BirdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
